{% extends "base.html" %}

{% block main %}

<div class="p-produto-item-html">

    <div class="p-div-produto">
        <div class="p-card-pequeno-produto">
            <button> <img class="p-card-pequeno-img" src="/static/img/img1.png"> </button>
            <button> <img class="p-card-pequeno-img" src="/static/img/img1.png"> </button>
            <button> <img class="p-card-pequeno-img" src="/static/img/img1.png"> </button>
        </div>

        <div class="p-card-grande"> 
            <img class="p-img-card-grande" src="/static/img/img1.png"> 
        </div>
    </div>

    <div class="p-div-comprar">
        <div class="p-card-comprar">
            a
        </div>
    </div>


    <div class="p-descricao">

    </div>
</div>

{% endblock %}