{% extends "base.html" %}

{% block main %}

<div class="p-produto-item-html">

    <div class="p-div-produto">
        <div class="p-card-pequeno-produto">
            <button> <img class="p-card-pequeno-img" src="/static/img/img1.png"> </button>
            <button> <img class="p-card-pequeno-img" src="/static/img/img1.png"> </button>
            <button> <img class="p-card-pequeno-img" src="/static/img/img1.png"> </button>
        </div>

        <div class="p-card-grande">
            <img class="p-img-card-grande" src="/static/img/img1.png">
        </div>
    </div>

    <div class="p-div-comprar">
        <div class="p-card-comprar">

            <div class="p-titulo-produto">
                <h1>Tituaaaaaaaaaaaaaaaaaaaa ssssssssssslo do produto</h1>
            </div>

            <div class="p-valores">
                <p>R$ 120,00</p>
                <h2>R$ 79,90 No Pix</p>
            </div>

            <div class="p-descricao1">
                Ou em até 4x sem juros!
            </div>

            <div class="p-botoes-comprar">
                <div class="p-bt-comprar">
                    <button>Comprar</button>
                </div>

                <div class="p-div-quantidade">
                    <button id="bt1">+</button>
                    <p>3</p>
                    <button id="bt2">-</button>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="p-descricao2">

</div>
</div>

{% endblock %}