{%extends "base.html"%}

{%block main%}
    <img id="banner" src="/static/img/img_banner.png" alt="">
    
    <section class="sec1">
        <div id="faca_dose">
            <h2>Faça Sua Dose!</h2>
        </div>
    </section>
        
    <h2 id="mais-vendido-h2">Mais Vendidos</h1>

    <section id="carrossel_produtos">
        <div class="produto"><a href="produto_item/1">Produto 1</a></div>
        <div class="produto"><a href="produto_item/2">Produto 2</a></div>
        <div class="produto"><a href="produto_item/3">Produto 3</a></div>
        <div class="produto"><a href="produto_item/4">Produto 4</a></div>
        <div class="produto"><a href="produto_item/5">Produto 5</a></div>
        <div class="produto"><a href="produto_item/6">Produto 6</a></div>
        <div class="produto"><a href="produto_item/7">Produto 7</a></div>
        <div class="produto"><a href="produto_item/8">Produto 8</a></div>
    </section>
        
{%endblock%}
